name: CHT Configs CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 10.x
      - run: npm ci
      - run: npm test
    
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout   
        uses: actions/checkout@v3
      - name: Setup Node   
        uses: actions/setup-node@v3
        with:
          node-version: 10.x

      - name: Push my CHT app to staging
        uses: 'medic/cht-core/deploy-with-medic-conf@master'
        with:
          directory: '.'
          hostname: myapp.staging.company.org
          username: ${{ secrets.STAGING_USERNAME }}
          password: ${{ secrets.STAGING_PASSWORD }}
